## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
import os

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\Microsoft\\Desktop\\Analysis Projects\\World_Weather_Analysis\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date,Country
0,0,Albany,42.6001,-73.9662,73.58,78,95,3.62,overcast clouds,2022-05-15 15:29:40,US
1,1,Mar Del Plata,-38.0023,-57.5575,54.95,74,75,16.11,broken clouds,2022-05-15 15:29:10,AR
2,2,Rikitea,-23.1203,-134.9692,77.45,67,100,19.26,overcast clouds,2022-05-15 15:31:22,PF
3,3,Kaabong,3.4836,34.1492,74.98,53,28,11.68,scattered clouds,2022-05-15 15:27:18,UG
4,4,Khatanga,71.9667,102.5000,32.27,96,100,6.13,overcast clouds,2022-05-15 15:31:23,RU

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date,Country
0,0,Albany,42.6001,-73.9662,73.58,78,95,3.62,overcast clouds,2022-05-15 15:29:40,US
2,2,Rikitea,-23.1203,-134.9692,77.45,67,100,19.26,overcast clouds,2022-05-15 15:31:22,PF
3,3,Kaabong,3.4836,34.1492,74.98,53,28,11.68,scattered clouds,2022-05-15 15:27:18,UG
6,6,Kapaa,22.0752,-159.3190,73.72,95,20,14.97,light rain,2022-05-15 15:31:24,US
12,12,Eenhana,-17.4667,16.3333,78.58,24,18,4.65,few clouds,2022-05-15 15:31:26,NaN
15,15,Vaini,-21.2000,-175.2000,62.76,88,20,6.91,few clouds,2022-05-15 15:31:28,TO
16,16,Atuona,-9.8000,-139.0333,78.21,77,11,18.34,light rain,2022-05-15 15:31:28,PF
18,18,Soyo,-6.1349,12.3689,80.33,79,22,10.83,few clouds,2022-05-15 15:31:29,AO
19,19,Bakloh,32.4667,75.9167,81.88,12,37,9.75,scattered clouds,2022-05-15 15:31:30,IN
22,22,Manggar,-2.8833,108.2667,82.51,79,62,4.92,broken clouds,2022-05-15 15:31:31,ID

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df['City'].count()

376

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# There is no empty row

clean_df = preferred_cities_df
clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date,Country
0,0,Albany,42.6001,-73.9662,73.58,78,95,3.62,overcast clouds,2022-05-15 15:29:40,US
2,2,Rikitea,-23.1203,-134.9692,77.45,67,100,19.26,overcast clouds,2022-05-15 15:31:22,PF
3,3,Kaabong,3.4836,34.1492,74.98,53,28,11.68,scattered clouds,2022-05-15 15:27:18,UG
6,6,Kapaa,22.0752,-159.3190,73.72,95,20,14.97,light rain,2022-05-15 15:31:24,US
12,12,Eenhana,-17.4667,16.3333,78.58,24,18,4.65,few clouds,2022-05-15 15:31:26,NaN

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,73.58,overcast clouds,42.6001,-73.9662,
2,Rikitea,PF,77.45,overcast clouds,-23.1203,-134.9692,
3,Kaabong,UG,74.98,scattered clouds,3.4836,34.1492,
6,Kapaa,US,73.72,light rain,22.0752,-159.3190,
12,Eenhana,NaN,78.58,few clouds,-17.4667,16.3333,
15,Vaini,TO,62.76,few clouds,-21.2000,-175.2000,
16,Atuona,PF,78.21,light rain,-9.8000,-139.0333,
18,Soyo,AO,80.33,few clouds,-6.1349,12.3689,
19,Bakloh,IN,81.88,scattered clouds,32.4667,75.9167,
22,Manggar,ID,82.51,broken clouds,-2.8833,108.2667,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
People ThankYou
Rock Motel Ltd
Sheraton Kauai Coconut Beach Resort
Hotel Litu
Keleti Beach Resort
Villa Enata
Hotel Mpampa
Ekaant Hotel
Guest Hotel
Suoxing Hotel
Bora-Bora Pearl Beach Resort & Spa
Pousada Porto Praia
Hotel not found... skipping
Seaside Resort
Chambres d'hôte "La Trinité"
Tu Casa
L'Auberge Casino Resort Lake Charles
Hospitality Carnarvon
Radisson Blu Hotel Waterfront, Cape Town
Shandrani Beachcomber Resort & Spa
Hotel On The Rock by Prasanthi
Hotel do Campo
Misty Waves Boutique Hotel
Isles Sunset Lodge
Matata B&B
Cititel Penang
Crôa Mares Hotel
Scoop Guest House
Valle Aridane
Courtyard by Marriott Danbury
Base Lodging
Nuevo Hotel Plaza
Lovers Point Inn
Kirari Guest House
Shanti Maurice Resort & Spa
Grage Hotel Bengkulu
Motel 6 Sinton, TX
Ooo.khim Baza
Pestana Bahia Praia
Hotel Khovd
Sheraton Atlanta Perimeter North Hotel
Inubosaki Kanko Hotel
Hotel Universal
Best Western Plus Abbey Inn
Auki Motel
Fairfield Inn & Suites by Marriott Germantown Gaithersburg
Pousada Porto De Canoas
Balandra Hotel
Pirineos
Heritage Park Hotel
Laoyutang Resort
The Halyards Hotel
VS Villa
Screensaver
Hotel not found... skipping
Le gîte du Koniambo
Nile Palace Hotel
Amiran Hotel & Commercial Complex
Hampton Inn & Suites Jamestown
Katsuura Hotel Mikazuki
Mini Central
Hotel not found... skipping
Casa Laguna, Bed & Breakfast
Quality Inn Payson I-15
Railway motel
Casa Tia Villa
Abha Hotel
Amaloh Boutique Resort
Residencial Karime
RH HOTEL (4 Star)
Don Eddie's Sport Fishing Center
Hotel Vitória Palace
Bredasdorp Country Manor
Sahid Bela Ternate Hotel
Manor Isle Mobile Home & Extended-Stay RV Park
Hotel not found... skipping
Hotel Arrarte
Eware Refugio Amazonico
Pousada dos Navegantes
Taloa Heights
Paradise Inn
Blue Bay Lodge
LÜDERITZ NEST HOTEL
International Lodge Motel
Hotel not found... skipping
Duna Ecolodge
Six Acres Bed & Breakfast
رابطة الفنانين الفلسطينيين
Uhu Haus
Zango lodge
Heritage Bagh by Himalayan Musk
Marriott's Ko Olina Beach Club
hotel la terminal
Hotel Europe Kropotkin
Xee Wang Guesthouse
Artemis Otel
Hotel Shanker Kathmandu
Hotel Serra da Chela
AVK events and catering
Amazigh Hostel
Finch Bay Galapagos Hotel
Hotel not found... skipping
39 On Nile Guest House
Hotel Sao Pedro
Shellharbour Resort & Conference Centre
Ditlhapi Guest House
Super 8 Tangshan North Railway Station Tangfeng Road
Hotel Boutique Las Azucenas
Apartment Av. Castelao
Shelly Bay Resort
Afomiya Pension
Hotel Restaurante Bagoeira
Hotel not found... skipping
Ahipara Holiday Park
Posada Villa Nela
Toyoko Inn Oyama-eki Higashi-guchi No.1
Hotel not found... skipping
Shervinton Executive Boutique Hotel
ARTIEM Capri
Vanira Lodge
Hotel not found... skipping
Mercure Padang
Desert Palms Alice Springs
"Plantation Bed and Breakfast
Vahmoneh Lodge Vanimo
The Esplanade Hotel
Ss
Hostal Jardin Del Sol
Marnic House B&B
Hotel Vila Galé Cascais
PembaAparthotel
Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel
Hotel not found... skipping
Chenango Valley State Park
Resorts Resource Group International
Silverbirch Hotel
Vista Roof Restaurant
Pousada Monte Carmelo O Pão
Best Budget Inn
Hotel Park
ROADSIDE B&B
Hotel not found... skipping
Uruna Bay Retreat
Hotel Castelo
Hampton Inn Ukiah
Hotel Rinconcito Verde
Hotel Festival Plaza Rosarito
Embassy Suites by Hilton Portland Downtown
FAZENDA ITAL
Ilha Praia Hotel
Camp Pālehua
Reserva do Abiaí
Hotely Sariaka
Penginapan Kim
Hotel not found... skipping
Holiday Inn Express & Suites Yankton, an IHG Hotel
Grand Hotel President
White City Hotel
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Alize Plage
JCRG Pension House - HOTEL
Resort on Papaskiri 76
Holiday Inn Express Roseville-St. Paul
Shishime Hotel
Imagination Island
Hotel RIKMAN Continental
ibis Styles Mt Isa Verona
Restaurant Greedy Coco Lodge Majunga
hotêl doufoulougou
Hotel Uhland
Park Hotel
Storyboard Beach Resort
Pousada Avenida
Estancia Hotel - Jardim MS
Kashana, Omaruru, Namibia
Hotel Morotin
Hotel Kou-Bugny
The Blue Door
Beachside Resort Whitianga
Sea Lounge! Bar, Club & Restaurant
Hilo Hawaiian Hotel
Peresvet
Ritz Lauca
Sur Plaza Hotel
Hotel not found... skipping
castelo pizzaria
Sheffield House Bed & Breakfast
Vila Nova Hotel
Apartment above Depot Bar
True Treasure Hotel
Hotel not found... skipping
Ungoofaaru Inn
Iftin hotel hobyo
Pension Oaoa
Pension Feldgärtenhof
Inn of the Mountain Gods
The Retreat at the Farm
la Tour des Anglais
آپارتمان بزرگ اویسا
Trinity Plains Tourist Park
Ramada by Wyndham Draper
Tiara Labuan Hotel
Courtyard by Marriott Lincoln Downtown/Haymarket
Sherwood Motel
Hotel Grand Continental Kuala Terengganu (4 Star)
Abbas Abad Hotel & Restaurant
Casa Mika Ciobanus
Hotel Villa Kitzia Huacho
Puulu Beach,Puulu Village
Playa Canela Hotel Boutique
Hotel Maria
Будинок Відпочинку Лок. Бригад
Oyster Bay House Rental
Lorengau Harbourside Hotel
Villa on Dunbar Rock
Fishermans Guest House
Hotel Arena Blanca
Hotel Xaguate
Holiday Inn Express Lompoc, an IHG Hotel
Dillon Express Inn
Aridolf Resort Wellness and Spa
Hôtel les Oliviers Marovoay
pondok pesantren mamba'ul 'ulum selo rejo
Best Western Shelbyville Inn And Suites Celebration Inn
Macs
Budget Host-Village Inn
Country Inn & Suites by Radisson, Lumberton, NC
Shams hotel
Tourist Hamlet Gilgit
Siang Guest House
Hotel not found... skipping
Hotel San Isidro Oficial
LE SAMANA
茂名中汇时尚酒店
Phanomrungpuri Boutique Hotels & Resorts
Nusa Island Retreat
Airport Lodge Kiunga
Park Hotel Calama
Hotel Cristal
Hotel Syariah CN Darussalam
Hôtel Opémiska
Pazo do Souto
B&B La Casona de Nazaret
The Ritz-Carlton, Half Moon Bay
The Sebel Kiama Harbourside
SanBiz Lodge
Hotel Assyifa
عطر و ادکلن پارسیس
Maui Seaside Hotel
Eagle Foundry Bed & Breakfast
Hoa Dao Hotel
Pousada 100 Passos
The Golden Hotel, Ascend Hotel Collection
HOTEL ISABELA
Kamaneahn Hotel Inc
Backpacker`s Hostel Iquique
Kareespruit Game Ranch and Guest House
Coastal Cottages of Pembrokeshire
Farhan KING House
Songshan Dihao Hotel
Avgustin Inn
Frena Lodge
East Arnhem Real Estate
SEGAYA PROPERTY
Derogongan Residence
La Case Bambou
Hotel Juba
BUNGALOW MAHAMANINA
Beach Rotana
ZINGARA 76ft Catamaran, full crew-all included
Swiss-Belhotel Balikpapan
Ujamaa Beach Resort
Hotel not found... skipping
Hotel Shekinah
Nancy Montanes Bernardo
Hotel Narayan Avezika Comfort
Hotel Branco I
OlusHome
Hotel Balqis
Leumerus Bungalows
Playa Linda Hotel
Penginapan Citra Alam
The Raviz Ashtamudi
The Elms Hotel & Spa
Salinas Park Resort Maçarico AP101
Hotel Kununurra
Alarne - Área De Lazer Do Alto Rio Negro
Hotel not found... skipping
Palace Hotel - Campos dos Goytacazes
Spanish Villa
Gulisitan Hotel
Casa Grand Inn By The Sea
Hotel Torres Novas
Tanna Lodge
Hotel Vitasoa
Mantra Towers of Chevron Surfers Paradise
Kost Alfa Flat
Aviador Hotel Boutique
Hotel not found... skipping
JABIR HOTEL
Pousada Tia Amélia
The Westport Inn
Residencial Bendiak
Sary Arka
Hotel Chik Chik Namibe
Riverview Campground
Hotel Sibiria Inn
Minshuku Agaihama
Days Inn by Wyndham Hershey
Puri Brata
Tateyama Seaside Hotel
Hotels in Lakshadweep Islands
Egorkino Hotel
Hotel not found... skipping
Oota Ryokan
Paul Paradis
Popa Dan-Eugen
Quality Hotel Grand, Kongsberg
OYO 884 Rumoh PMI Hotel
Hotel Nusantara I
Casa Dora, Bubaque
Truong Xuan Resort
Banjanay Hotel
Hotel not found... skipping
El Olivar Hospedaje
Al Djadid
Kwakuwahi Lodge
Manoir Du Bonheur
Jinjiang Inn Zhoushan Putuo Shenjiamen
Hotel Santika Luwuk
Le Rocher de Tahiti
GME Huainan Tianjiaan District Chaoyang East Road Hotel
Sunil Bisht
Bungalow 63
King Hotel Astana
Hanks place
Hotel Silken Atlántida Santa Cruz
University Plaza Waterfront Hotel
Actons Hotel Kinsale
Hotel Helenium
Hotel not found... skipping
ibis Styles Karratha
Batemans Bay Marina Resort
Kwepunha Retreat
Wedgewood Motel
Chateau Krakovany
Hilton Garden Inn Qidong
Blue Ivy Farm and Resort
Cortez Malaga Techy Caroly
Palais du chef Canton Salamt
Lords Inn Somnath
William F. Bolger Center
Grand Emperor Hotel
Castle Motor Lodge Motel
Tuinhuis
la terrasse
Vahiny Lodge
Grand Riverview Hotel
Solomon Debebe Hotel
Hôtel La Giralda
ibis budget Newport
Ulefoss Brygge - Bobilparkering
Hotel Soralete - Grupo Rosablue
Hotel not found... skipping
املاك خالد الشعشوع
Agapita M. Nicart
Cabañas Monterra Tapalpa

Meadow Brook Mobile Estates
Bay Retreat Motel
Nuli Sapi
Pearl Continental Muzaffarabad
Hôtel & Restaurant DIANA Ambilobe
Hampton Inn & Suites Morgan City
Soneva Fushi
Hotel Restaurant Vanessa

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,73.58,overcast clouds,42.6001,-73.9662,
2,Rikitea,PF,77.45,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Kaabong,UG,74.98,scattered clouds,3.4836,34.1492,Rock Motel Ltd
6,Kapaa,US,73.72,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Eenhana,NaN,78.58,few clouds,-17.4667,16.3333,Hotel Litu
15,Vaini,TO,62.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Atuona,PF,78.21,light rain,-9.8000,-139.0333,Villa Enata
18,Soyo,AO,80.33,few clouds,-6.1349,12.3689,Hotel Mpampa
19,Bakloh,IN,81.88,scattered clouds,32.4667,75.9167,Ekaant Hotel
22,Manggar,ID,82.51,broken clouds,-2.8833,108.2667,Guest Hotel

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])

In [12]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,73.58,overcast clouds,42.6001,-73.9662,
2,Rikitea,PF,77.45,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Kaabong,UG,74.98,scattered clouds,3.4836,34.1492,Rock Motel Ltd
6,Kapaa,US,73.72,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Eenhana,NaN,78.58,few clouds,-17.4667,16.3333,Hotel Litu
15,Vaini,TO,62.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Atuona,PF,78.21,light rain,-9.8000,-139.0333,Villa Enata
18,Soyo,AO,80.33,few clouds,-6.1349,12.3689,Hotel Mpampa
19,Bakloh,IN,81.88,scattered clouds,32.4667,75.9167,Ekaant Hotel
22,Manggar,ID,82.51,broken clouds,-2.8833,108.2667,Guest Hotel

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))